#kirilkirkov .header {
    background-color: #32373c;
    border-radius: 5px 5px 0 0;
}

#kirilkirkov .header h2 {
    color: #ccc;
}

#kirilkirkov button[type=submit] {
    background-color: #1ed760;
    color: #fff;
    border-radius: 50px;
    box-shadow: none;
    border: 0;
    text-transform: uppercase;
    min-width: 90px;
    height: 40px;
}

#kirilkirkov .ad-box {
    background-color: #fff;
    border: 1px solid #d9d8d8;
    border-radius: 10px;
}

#kirilkirkov label {
    font-size: 12px;
    margin-bottom: 5px;
    font-weight: bold;
    display: inline-block;
}

#kirilkirkov .align-middle {
    vertical-align: middle;
}

#kirilkirkov .th-div, #kirilkirkov label {
    color:rgba(63, 63, 63, 0.68);
}

#kirilkirkov .header button:hover {
    background-color: #12c74c;
}

#kirilkirkov .section-header {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background-color: #efefef;
    border-left: 1px solid #d9d8d8;
    border-right: 1px solid #d9d8d8;
}

#kirilkirkov .section-body {
    background-color: #f7f7f7;
    border: 1px solid #d9d8d8;
}

#kirilkirkov .form-table {
    margin-top:0;
}

#kirilkirkov * {
    transition: 0.3s;
}
#kirilkirkov *:hover {opacity: 1}

#kirilkirkov .ad-col {
    background-color: #f9f9f9;
}

#kirilkirkov input[type=text], #kirilkirkov input[type=number], #kirilkirkov textarea {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#kirilkirkov textarea {
    height: 80px;
}

#kirilkirkov .alert {
    display: block;
    min-width: 60px;
    text-align: center;
    border-radius: 15px;
    padding: 4px 8px;
    font-size: .8em;
    font-weight: 600;
    height: 17px;
    line-height: 17px;
}

#kirilkirkov .alert.alert-info {
    background-color: #29b6f6;
    color: #fff;
}

#kirilkirkov .alert.alert-success {
    background-color: #61ce70;
    color: #fff;
}

#kirilkirkov .alert.alert-danger {
    background-color: #f44336;
    color: #fff;
}

#kirilkirkov .default-btn {
    box-shadow: #e3e3e3 0 1px 1px;
    border-radius: 3px;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.428571429;
    text-align: center;
    background-color: #fef0a1;
    border: 1px solid #d6a437;
    color: #333;
    padding: 7px 14px 6px 14px;
    text-decoration: none;
    text-shadow: 1px 1px 0 #ffe8b2;
    -webkit-box-shadow: 0 1px 1px rgba(000,000,000,.1),inset 0 1px 1px rgba(255,255,255,.7);
}

#kirilkirkov .accent-button {
    display: block;
    text-align: center;
    box-shadow: none;
    min-width: 100px;
    background-color: #ff5722;
    border: 0;
    color: #fff;
    text-decoration: none;
    padding: 5px 12px;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.428571429;
    border-radius: 3px;
    white-space: nowrap;
    user-select: none;
}

#kirilkirkov .shortcode {
    padding: 20px 50px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    background-color: #fff;
    position: relative;
}

#kirilkirkov .shortcode span {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -25px;
    font-size: 10px;
}

/* Hide default notifications */
.update-nag, .updated, .error, .is-dismissible { display: none; }

/* Modal */
#kirilkirkov .ft-modal {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
    z-index: 9999;	
    overflow: auto;
	position: fixed;
    visibility: hidden; 
	background: rgba(0,0,0,.8);
	transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
}

#kirilkirkov .ft-modal:target {
	opacity: 1;
	margin-top: 0px;
	visibility: visible;	
}

#kirilkirkov .ft-modal-content {
	width: 70%;
    padding: 25px;
	background: #FFF;
	max-width: 600px;
    margin: 70px auto;
	position: relative;
	border-radius: 8px;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

#kirilkirkov .spotify-search-info .header {
    background-color: transparent;
}
/* /Modal end */